body {
    height: 100vh;
    background: linear-gradient(45deg, rgb(0, 0, 0), crimson);
}

button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 2px;
}

.botaoNormal {
    cursor: pointer;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.botaoClicado {
    cursor: auto;
}

.botaoNormal:hover {
    background-color: rgb(68, 62, 62);
}

#corpoJogo {
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 15px;
}

p {
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(114, 110, 110);
    border-radius: 15px;
    padding: 15px;
    margin-top: 1px;
}

.mdi-star-three-points {
    font-size: 40px;
    color: blue;
    text-align: center;
}

.mdi-circle-outline {
    font-size: 40px;
    color: red;
    text-align: center;
}

.mdi-instagram {
    color: white;
    font-size: 60px;
    cursor: pointer;
}

.mdi-restart {
    color: white;
    font-size: 60px;
    cursor: pointer;
}

#topo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.dir {
    flex: 30%;
}

.esq {
    flex: 30%;
    text-align: right;
}

.meio {
    flex: 10%;
}